
/* global color palette */
:root{
  --background-color: #13293d;
  --text-color: white;
}

/* global settings */
* {
  box-sizing: border-box;
}

/* Main sections */
body {
  font-family: Arial;
  background-color: rgb(240, 219, 181);
}
  
header {
  padding: 40px;
  text-align: center;
  color: var(--text-color);
}

footer {
  display: flex;
  
  padding: 20px;
  
  background: var(--background-color);
  color:var(--text-color);
}

footer p {

  color:var(--text-color);
}

/* Nav Menu */
h1 {
  color: aqua;
}
  
nav {
  display: flex;
  justify-content: right;
  background-color: var(--background-color);
}

nav img {
  
  width: 200px;
  border-radius: 50%;
  object-fit: cover;

}

nav a {
  color: var(--text-color);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: orange;
}

.navigation-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: -100px;
  padding: 25px 25px 25px 125px;
  border-radius: 0 25px 25px 0;
  background-color: black;
  box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  overflow: hidden;
  width: 75%;
}

/* Project card containers */

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: right;
  width: 100%;
  height: 75%;
}

.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin: 20px;
  padding: 20px;
  color: white;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  background-color: black;
  width: 60%;
  box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.25);
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: left;
  text-align: center;
  margin: 20px;
  
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  background-color: black;
  width: 40%;
  box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.25);
}

.card-header {
  position: relative;
  padding: 10px;
  text-align: left;
  background-color: black;
  color: cyan;
  width: 50%;
  font-size: 16px;
  z-index: 100;
  border-radius: 0 0 20px 0;
}

.card p {
  color: white;
}

.card img {
  position: relative;
  top: -76px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 0 15px 0 0;
  z-index: 50;
}

/* Media sizing */
@media screen and (max-width: 768px) {
  


}
